In [1]:
print("hello world")

hello world

In [2]:
print("hi dear")

hi dear

In [4]:
#this is print
'''thi is multipul
comment
this comment is easy to know'''
print("hello bro")
data = "this is very beautifull boy"
print(data)

hello bro

In [6]:
data = "this is very beautifull boy"
print(data)

this is very beautifull boy

In [8]:
print("the value of 3 + 5 = ", 3+5)
print("the value of 3 - 5 = ", 3-5)
print("the value of 3 * 5 = ", 3*5)
print("the value of 3 / 5 = ", 3/5)
# Agar power lagana ho
print("the value of 3 ** 5 = ", 3**5)
# Agar point ka bad ke value ko hide karna ho
print("the value of 3 // 5 = ", 3//5)

the value of 3 + 5 =  8
the value of 3 - 5 =  -2
the value of 3 * 5 =  15
the value of 3 / 5 =  0.6
the value of 3 ** 5 =  243
the value of 3 // 5 =  0

In [9]:
print("this is a \"")

this is a "

In [12]:
mls = ''' this is amultiline string and this will keep'''
print(mls)

 this is amultiline string and this will keep

In [15]:
print("%s to the right"%('this is astring'))

this is astring to the right

In [18]:
print('this is print statement 1,', end="")
print(' this is print statment 2')

this is print statement 1, this is print statment 2

In [19]:
print("this "*5)

this this this this this

In [21]:
# creat List
colleges = ['IT' , 'BSIT' , 'BSCS' , 'BS Cyber security']
print(colleges)

['IT', 'BSIT', 'BSCS', 'BS Cyber security']

In [22]:
colleges = ['IT' , 'BSIT' , 'BSCS' , 'BS Cyber security']
print(colleges[3])

BS Cyber security

In [23]:
#agar list ma sa kese bhe valuse ko update karna ho to
colleges[2] = "BS computer science"
print(colleges[2])

BS computer science

In [24]:
print(colleges)

['IT', 'BSIT', 'BS computer science', 'BS Cyber security']

In [25]:
#agar humy spacefic list ko print karwana ho to
print(colleges[1:3])

['BSIT', 'BS computer science']

In [26]:
# agar humy list ma kuch bhe chez add karna ho to
list2 = ['tables', 'chair', 'fan', 'clothes', 'brother']
list2.append('microphone')
print(list2)

['tables', 'chair', 'fan', 'clothes', 'brother', 'microphone']

In [28]:
print(list2)

['tables', 'chair', 'fan', 'clothes', 'brother', 'microphone']

In [29]:
list2.insert(3, 'microphone')

In [30]:
print(list2)

['tables', 'chair', 'fan', 'microphone', 'clothes', 'brother', 'microphone']

In [31]:
list2.remove('microphone')
print(list2)

['tables', 'chair', 'fan', 'clothes', 'brother', 'microphone']

In [32]:

#agar list ma ak sa zada element ko add karna ho
print(list2 + ['pillow', 'tubelight', 'bed'])

['tables', 'chair', 'fan', 'clothes', 'brother', 'microphone', 'pillow', 'tubelight', 'bed']

In [1]:
a = 2
b = 5
print(a + b)

7